#exportBtn {
  background-color: #4CAF50;
  color: white; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

thead th, 
tbody th {
    background-color: #cecece;
}

#exportBtn:hover {
  background-color: #45a049;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #888;
  width: 70px;
  height: 35px;
  text-align: center;
  font-weight: normal;
}

.highlight {
  background-color: rgb(172, 217, 235);
  color: white;
}